<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.zeronews.dao.LoveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xm.zeronews.pojo.Love">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="editorId" property="editorId" />
        <result column="createTime" property="createTime" />
        <result column="isLove" property="isLove" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, editorId, createTime, isLove
    </sql>

</mapper>
